<div id="leftmemberPan">
	<h2>member <span>login</span></h2>
	<form name="login" id="login" action="" method="post">
	<label>Your Name</label>
	  <input type="text" name="textfield" />
	  <label class="emailpadding">Email ID</label>
	   <input class="fieldpadding" type="text" name="textfield" />
	   <div id="leftPango"><p class="textposition"><a href="#">Resister now</a></p><input type="submit" class="gobutton" value="Go" />
	   </div>
	</form>
</div>
